.footer{
    background: rgb(248, 246, 246);
    overflow-x: hidden;
    width: 95vw;
    margin: 0 auto;
}
.custom-icon{
    font-size: 1.2rem;
    padding: 8px 12px;
    color: radial-gradient(#fff,#ffd6d6) !important;
}
.GrFacebookOption{
    color:radial-gradient(#fff,#ffd6d6) !important ;
}